@import url("https://fonts.googleapis.com/css?family=Lexend+Giga&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,600&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

main {
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: 0.5em 0;
}
